html, body{
    font-family: system-ui;
    font-size: 40pt;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: black;
}
div{
    padding: 5%;
    margin: 5%;
    width: 80%;
    /* height: 80%; */
    height: auto;
    background-color:darkgray;
}
p{
    margin: 5px;
    padding: 5px;
}
#input-menu{
    height: 30%;
    /* display: inline-block; */
    margin: 2%;
    width: 96%;
    padding: 0;
}
#administration, #check{
    /* height: 20%; */
    margin: 2%;
    width: 96%;
    height: 38%;
    padding: 0;
}
#menu{
    margin: 2%;
    width: 96%;
    height: 69%;
    padding: 0;
}

#the-board{
    height: 20%;
    overflow: scroll;
    font-size: 8px;
    padding: 0;
    margin: 2%;
    width: 96%;
    /* position: relative; */
}
#player-list{
    columns: 2;
    list-style-type: none;
    /* overflow: hidden; */
}
#player-list button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
img{
    width : 80px;
    margin : 5px;
}
img.smaller{
    width : 50px;
}
img.smallest{
    width : 35px;
}
button{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    background-color: white;
    font-size: 32pt;
}

#undoButton, #back{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 24pt;
}

.menu-button{
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 50px;
}

ul button{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    font-size: 24pt;
    
}
/* #back{
    height: 75px;
} */
input{
    width: 90%;
    height: 5%;
    font-size: 32pt;
}
ul{
    list-style-type: none;
    /* border-style: solid;
    border-width: 2px; */
    width: auto;
    padding: 5px;
    display: inline-block;
    margin:0;
}
ul li{
    float: left;
}
#implications li{
    float: none;
}
.policy-on-board{
    display: inline-block;
    /* margin: 5px; */
    margin: 0;
    padding: 2px;
    text-align: center;
    background-color:darkgray;
    font-size: 24px;
    border-style: solid;
    border-width: 2px;
    width: 110px;
    max-height: 90%;
}
.policy-wide{
    /* position: absolute; 
    bottom: 0; 
    right: 0; */
    float: right;
    width: 200px;
    font-size: 30px;
}